* {
	box-sizing: border-box;
}

.flex {
	display: flex;
	flex-direction: column;
}
span {
	color: rgb(74, 20, 140);
	display: inline-block;
	padding: 20px 30px;
}
 section span {
	text-transform: uppercase;
	font-weight: bold;
	padding: 20px 0;
 }


a {
	text-decoration: none;
	text-transform: uppercase;
	color: rgb(74, 20, 140);
}

header a {
	display: inline-block;
	padding: 20px 30px;
}

p {
	color: rgb(74, 20, 140);
}

.color {
	
	color: rgb(74, 20, 140);
}
.flex-box {
	display: flex;

}
.vertical {
	display: flex;
	flex-direction: column;
}

.vertical a {
	padding: 20px;
	align-self: center;
	
}

.margin {
	margin: 10px;
	background-color: rgb(126, 87, 194);
	padding: 10px;
}

.margin2 {
	margin: 10px 0;
	background-color: rgb(126, 87, 194);
	padding: 10px;
}

.margin3 {
	margin: 0 10px 10px;
	background-color: rgb(126, 87, 194);
	padding: 10px;
}

.margin4 {
	margin-bottom: 10px;
	background-color: rgb(126, 87, 194);
	padding: 10px;
}
header,
footer {
	background-color: rgb(126, 87, 194);
}

footer {
	height: 60px;
}

form {
	padding-top: 20px;
	margin-left: auto;
	margin-right: 20px;
}

aside {
	
	width: 240px;
	float: left;
	background-color: rgb(209, 196, 233);
	height: 1115.5px; /* не поняла, как выровнять по высоте section */

} 



section {
	display: flex;
	flex-direction: column;
	width: auto;
	height: 100%;
	
	
}

.flex-row {
	display: flex;
	flex-direction: row;
	align-self: stretch;
	background-color: rgb(237, 231, 246);
}

img {
	height: auto;
	width: 100%;
	object-fit: cover;
}

.align-items {
	display: flex;
	align-content: stretch;
}

.bottom {
	display: block;
	align-items; flex-end;
}

.col-3 {
	flex: 0 0 25%;
    max-width: 25%;
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}	