.flex-direction {
	display: flex;
	background-color: #FAFAFA;
	
}

.flex-direction > div {
	flex: 1;
	font-size: 20px;
	font-weight: bold;
	color: #303F9F;
	display: block;
	text-align: center;
	
}	

body {
	margin-top: 50px;
	background-color: #E8EAF6;

}

.background {
	background-color: #7986CB;
	margin: 0 30px;
	
}


/*.column{
	flex-direction: column;
}; */




